/* src/componentes/Rodape/rodape.css */

.footer {
    background: #1B1B1B;
    color: #FFF;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer ul li:last-child {
    margin-right: 0;
}

.footer p{
    color: #42FEFC;
    font-weight: 700;
}
